body {
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
  }
  
  h1 {
    color: hotpink;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-bottom: 10px dotted purple;
  }
  
  h2 {
    font-size: 1.5em;
    font-style: italic;
  }
  
  .job-title {
    color: #999999;
    font-weight: bold;
  }
  
  a:link,
  a:visited {
    color: #fb6542;
  }
  
  a:hover {
    text-decoration: none;
    color: whitesmoke;
  }
  
  .Contact-content{
    width:800px;
    border: 2px solid rgb(220, 216, 216);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(rgba(235, 133, 133, 0.3),rgba(235, 133, 133, 1));
  
    text-shadow: 1px 1px 1px hotpink;
  
    box-shadow: 6px 6px 12px rgba(190, 79, 79, 0.5),
                inset 6px 6px 12px rgb(245, 190, 190),
                inset 6px 6px 12px rgb(223, 146, 146);
    
  
  }
  .content{
    text-shadow: 1px 1px 1px rgb(67, 65, 66);
    font-size: 20px;
  }
  
  div.Contact-content ul{
    list-style-type: none;
  }